<footer class="border-top footer text-muted">
    <div class="container">
        <a class="mainColor" asp-area="" asp-controller="Home" asp-action="Privacy">&copy; 2024 - SmartPlanner - Privacy</a>
    </div>
</footer>