<header>
    <nav class="navbar navbar-expand-lg navbar-dark myNavParam">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Заметки</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации"">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Tasks" asp-action="Index">Задачи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Goals" asp-action="Index">Цели</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Templates" asp-action="Index">Шаблоны</a>
                    </li>
                     <li class="nav-item">
                         <a class="nav-link" asp-area="" asp-controller="Archive" asp-action="Index">Архив</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" asp-area="" asp-controller="Support" asp-action="Index">Support</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" asp-area="" asp-controller="SupportMe" asp-action="Index">SupportMe</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Index">Настройки</a>
                     </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @if (User.Identity.IsAuthenticated){
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/logout" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>    
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>