@model List<TaskViewModel>

<div>
    <div class="row">
        @await Html.PartialAsync("/Views/Task/Components/TasksStatusMenu.cshtml")
        <div class="d-flex flex-wrap">
            <div class="col-4 notesBlock">
                <h5>Ожидание</h5>
                @foreach (var task in Model.Where(t => t.Status == Status.Pending.ToString()))
                {
                    @await Html.PartialAsync("/Views/Task/Components/TaskCard.cshtml", task)
                }
            </div>

            <div class="col-4 notesBlock">
                <h5>В плане</h5>
                @foreach (var task in Model.Where(t => t.Status == Status.Planned.ToString()))
                {
                    @await Html.PartialAsync("/Views/Task/Components/TaskCard.cshtml", task)
                }
            </div>

            <div class="col-4 notesBlock">
                <h5>В работе</h5>
                @foreach (var task in Model.Where(t => t.Status == Status.InProgress.ToString()))
                {
                    @await Html.PartialAsync("/Views/Task/Components/TaskCard.cshtml", task)
                }
            </div>

            <div class="col-4 notesBlock">
                <h5>В тестировании</h5>
                @foreach (var task in Model.Where(t => t.Status == Status.InTesting.ToString()))
                {
                    @await Html.PartialAsync("/Views/Task/Components/TaskCard.cshtml", task)
                }
            </div>

            <div class="col-4 notesBlock">
                <h5>Выполнено</h5>
                @foreach (var task in Model.Where(t => t.Status == Status.Done.ToString()))
                {
                    @await Html.PartialAsync("/Views/Task/Components/TaskCard.cshtml", task)
                }
            </div>

            <div class="col-4 notesBlock">
                <h5>Отложена</h5>
                @foreach (var task in Model.Where(t => t.Status == Status.Postponed.ToString()))
                {
                    @await Html.PartialAsync("/Views/Task/Components/TaskCard.cshtml", task)
                }
            </div>

            <div class="col-4 notesBlock">
                <h5>Отменена</h5>
                @foreach (var task in Model.Where(t => t.Status == Status.Canceled.ToString()))
                {
                    @await Html.PartialAsync("/Views/Task/Components/TaskCard.cshtml", task)
                }
            </div>
        </div>
    </div>
    <div id="createTaskButton" class="text-center">
        <a id="createTaskButtonA" asp-area="" asp-controller="Task" asp-action="Create">+</a>
    </div>
</div>