@model RegisterViewModel
<div class="col text-center">
    <h2>Регистрация:</h2>
    <form method="post" asp-action="Register">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Username">Логин</label><br />
            <input asp-for="Username"inputBlock" />
            <span asp-validation-for="Username" class="text-danger" />
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label><br />
            <input asp-for="Email" inputBlock" />
            <span asp-validation-for="Email" class="text-danger" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Пароль</label><br />
            <input asp-for="Password" inputBlock" />
            <span asp-validation-for="Password" class="text-danger" />
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Подтверждение пароля</label><br />
            <input asp-for="ConfirmPassword" inputBlock" />
            <span asp-validation-for="ConfirmPassword" class="text-danger" />
        </div>

        <button type="submit" class="mainColor">Регистрация</button>
    </form>
    <br/>
    <a asp-area="" asp-controller="Account" asp-action="Login">Или войти</a>
</div>