@model List<NoteViewModel>

<div>
    <div class="row">
    @await Html.PartialAsync("/Views/Home/Components/AddNoteForm.cshtml", new NoteViewModel())
        <div class="row justify-content-center">
            @{
                if(Model.Count > 0){
                    foreach (var note in Model)
                    {
                        @await Html.PartialAsync("/Views/Home/Components/NoteCard.cshtml", note)
                    }
                }
                else{
                    <p>Создайте свою первую заметку...</p>
                }
            }
        </div>
        <a asp-action="Page" asp-route-page="1">Страница 1</a>
        <a asp-action="Page" asp-route-page="2">Страница 2</a>
        <a asp-action="Page" asp-route-page="3">Страница 3</a>
        <a asp-action="CreateTest">Создать 8 тестовых заметок</a>
    </div>
</div>