@model List<NoteViewModel>

<div>
    <div class="row">
    @await Html.PartialAsync("/Views/Home/Components/AddNoteForm.cshtml")
    @foreach (var note in Model)
        {
            @await Html.PartialAsync("/Views/Home/Components/NoteCard.cshtml", note)
        }
    </div>
</div>