@model HomeViewModel

<div>
    <div class="row">
    @await Html.PartialAsync("/Views/Home/Components/AddNoteForm.cshtml", new NoteViewModel())
        <div class="row justify-content-center">
            @{
                if(Model.Notes.Count > 0){
                    foreach (var note in Model.Notes)
                    {
                        @await Html.PartialAsync("/Views/Home/Components/NoteCard.cshtml", note)
                    }
                }
                else{
                    <p>Создайте свою первую заметку...</p>
                }
            }
        </div>
        <div class="pagination">
                @{
                    for (int i = 1; i <= Model.PageCount; i++){
                        <a class="paginationBtn antiquewhiteColor" asp-action="Page" asp-route-page="@i">@i</a>
                    }
                }
            </div>
    </div>
</div>