html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #d065e9;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: rgb(18, 23, 43);
  color: blueviolet;
  margin-bottom: 60px;
}
.mainColor{
    background-color: rgb(18, 23, 43);
    color: blueviolet;
}
a{
    color: blueviolet;
}