@model ProjectViewModel

<div>
    <div class="row">
        <div class="btn">
            <form method="post">
                <label asp-for="Title" class="mainColor">Название</label>
                <input class="inputBlock" type="text" id="inputText" placeholder="Введите текст заметки" asp-for="Title" /><br />

                <label asp-for="Description" class="mainColor">Описание</label>
                <input class="inputBlock" type="text" id="inputText" placeholder="Введите текст заметки" asp-for="Description" /><br />

                <label asp-for="Deadline" class="mainColor">Дедлайн[необязательное поле]</label>
                <input asp-for="Deadline" /><br />

                <button class="mainColor" type="submit" asp-action="Create">Создать</button>
            </form>
        </div>
    </div>
</div>