@model List<GoalViewModel>

@{
    ViewBag.Title = "Список целей";
}

<h2>Список целей</h2>

<div class="container">
    <div class="row">
        @foreach (var goal in Model)
        {
            @await Html.PartialAsync("/Views/Goal/Components/GoalCard.cshtml", goal)
        }
    </div>
    <div class="text-center createButton"><a class="antiquewhiteColor" asp-area="" asp-asp-controller="Task" asp-action="Create">+</a> </div>
</div>