<div class="btn">
    <form>
        <p class="mainColor">Заголовок</p>
        <input class="inputBlock" type="text" id="inputText" placeholder="Введите текст заметки" /><br />
        <p class="mainColor">Описание</p>
        <textarea class="inputBlock" width="70%" type="text" id="inputText" placeholder="Введите описание"></textarea><br />
        <button class="mainColor" type="button">Создать</button>
    </form>
</div>
