@model NoteViewModel

<div class="col-4 m-1  cardParam">
    <div class="card-body d-flex flex-column">
        <a asp-area="" asp-controller="Home" asp-action="Note" asp-route-id="@Model.NoteId"><h5 class="card-title">@Model.Title</h5></a>
        <hr/>
        <p class="card-text">@Model.Description</p>
        <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.NoteId" class="btn btn-danger mt-auto">Удалить</a>
    </div>
</div>