@model NoteModel

<div class="col-3 m-1 card  myCardParam">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Description</p>
        <a asp-area="" asp-controller="Home" asp-action="Delete" class="btn btn-danger mt-auto"><img src="/img/deleteIcon.png" alt="Удалить"/></a>
    </div>
</div>